<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>CEP LOOKUP</h1>
  <% ceps.forEach((cep) => { %>
    <li>Number: <%= cep.cep %></li>
    <li>UF: <%= cep.uf %></li>
    <li>Cidade: <%= cep.cidade %></li>
    <li>Bairro: <%= cep.bairro %></li>
    <li>Logradouro: <%= cep.logradouro %></li>
  <% }); %> 
</body>
</html>